<article class="d-flex justify-content-center">

    <aside class="card mt-3 text-dark text-center" style="width:300px">

        <aside class="card-header">
            <h1>Login</h1>
        </aside>

        <aside class="card-body">

            {{status}}

            <form action="" method="post">

                <aside class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="email@teste.com" required autofocus>
                </aside>

                <aside class="form-group my-3">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control" placeholder="********" required>
                </aside>

                <button type="submit" class="btn btn-lg btn-danger">Entrar</button>

            </form>

        </aside>

    </aside>

</article>